<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link rel="stylesheet" href="sidebar.css">
</head>
<body>
   
    <div class="container">
        <div class="photo">
            <div class="img_box">
                <img src="../img/sagar.jpg" alt="userphoto">
            </div>
        </div>
        <div class="contact">
            <h3>Contact</h3>
            <label>
                <div class="icon"><img src="https://img.icons8.com/external-nawicon-outline-color-nawicon/64/000000/external-email-communication-nawicon-outline-color-nawicon-2.png"/></div>
                <a href="mailto:sagar12ka@gmail.com">sagar12ka@gmail.com</a>
            </label>
            <label>
                <div class="icon"><img src="https://img.icons8.com/color/48/000000/apple-phone.png"/></div>
                <a href="#">+91-9718526360</a>
            </label>
            <label>
                <div class="icon"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/></div>
                <a href="#">sagarkumar7814</a>
            </label>
            <!-- <label>
                <div class="icon"><img src="https://img.icons8.com/external-kmg-design-outline-color-kmg-design/32/000000/external-world-maps-navigation-kmg-design-outline-color-kmg-design.png"/></div>
                <a href="#">https://img.icons8.com/officel</a>
            </label> -->
        </div>
        <div class="skills">
            <h3>skills</h3>
            <label>
                <span> Html </span>
                <div class="range r1">
                    <div class="backside"></div>
                </div>
            </label>
            <label>
                <span> Css </span>
                <div class="range r2">
                    <div class="backside"></div>
                </div>
            </label>
            <label>
                <span> JavaScript </span>
                <div class="range r3">
                    <div class="backside"></div>
                </div>
            </label>
            <label>
                <span> Bootstrap-4 </span>
                <div class="range r4">
                    <div class="backside"></div>
                </div>
            </label>
        </div>
        <div class="languages">
            <h3>languages</h3>
            <label>
                <span>English</span>
                <input type="checkbox" name="radio" checked>
            </label>
            <label>
                <span>Hindi</span>
                <input type="checkbox" name="radio" checked>
            </label>
        </div>
        <div class="hobbies">
            <h3>Hobbies</h3>
            <label>
                <span>Baskitball</span>
                <span>Designing</span>
                <span>Singing</span>
            </label>
        </div>
    </div>
    
</body>
</html>